---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Values from "../components/Values.astro";
import Services from "../components/Services.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="SSP - Surveillance Sécurité Privée : gardiennage, rondes, télésurveillance et intervention sur alarme depuis 2004. Certifiée 4 étoiles par le Réseau Aquila."
		/>
		<title>SSP | Surveillance Sécurité Privée</title>
	</head>
	<body>
		<main>
			<Hero />
			<Values />
			<Services />
			<Clients />
			<Contact />
		</main>
		<Footer />
	</body>
</html>
