---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Values from "../components/Values.astro";
import Services from "../components/Services.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="SSP - Surveillance Sécurité Privée : gardiennage, rondes, télésurveillance et intervention sur alarme depuis 2004. Certifiée 4 étoiles par le Réseau Aquila."
		/>
		<title>SSP | Surveillance Sécurité Privée</title>
	</head>
	<body>
		<main>
			<Hero />
			<Values />
			<Services />
			<Clients />
			<Contact />
		</main>
		<Footer />
		<script
			is:inline
			data-goatcounter="https://stats.s-securite.com/count"
			async
			src="https://stats.s-securite.com/count.js"></script>
	</body>
</html>
